## 21_march_ML_assignment

### Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

* in ordinal encoding we assign the ranks to different categories based on their order while in label encoding we assign the different labels to different categories in sequential order.
#### example of ordinal encoding
* if we have a column of data with the values "low", "medium", and "high", we could use ordinal encoding to assign the values 1, 2, and 3, respectively.
#### example of Label Encoding
* if we have a column of data with the values "low", "medium", and "high", you could use label encoding to assign the values 0, 1, and 2, respectively.

### Q2. Explain how Target Guided Ordinal Encoding works and when you might use it in a machine learning project.

* Target Guided Ordinal Encoding (TGO) is a technique for encoding categorical data that takes into account the target variable
* TGO works by first calculating the mean of the target variable for each category.
* The mean is then used to assign a numerical value to each category. The higher the mean, the higher the numerical value.

### Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

* covarience is a measure of how two features are related with each other.
* it is calculated by taking average of product of deviations from the mean for each variable.
* Covariance can be positive, negative, or zero
* A positive covariance indicates that the variables are positively correlated, meaning that they tend to move in the same direction. 
* A negative covariance indicates that the variables are negatively correlated, meaning that they tend to move in opposite directions
* A zero covariance indicates that the variables are not correlated at all.

### Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [1]:
import pandas as pd
df=pd.DataFrame({'Color':['red','green','blue'],
                 'Size':['small','medium','large'],
                 'Material':['wood','metal','plastic']
                })

In [2]:
df

   Color    Size Material
0    red   small     wood
1  green  medium    metal
2   blue   large  plastic

In [3]:
from sklearn.preprocessing import LabelEncoder

In [4]:
le=LabelEncoder()

In [9]:
df['Color']=le.fit_transform(df[['Color']])

C:\Users\91957\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [10]:
df['Size']=le.fit_transform(df[['Size']])

C:\Users\91957\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [17]:
le.fit_transform(df[['Material']])

C:\Users\91957\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1])

In [18]:
df

   Color  Size Material
0      2     2     wood
1      1     1    metal
2      0     0  plastic

## Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

* The covariance matrix shows the covariance between each pair of variables. The covariance between two variables is a measure of how much they vary together. A positive covariance indicates that the variables tend to vary in the same direction, while a negative covariance indicates that they tend to vary in opposite directions.

* The covariance between Income and Education level is also positive, indicating that they tend to vary in the same direction. This means that people with more education tend to earn more money.

* The covariance between Income and Education level is also positive, indicating that they tend to vary in the same direction. This means that people with more education tend to earn more money.

### Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

* For the "Gender" variable, I would use label encoding. This is because the categories in this variable are mutually exclusive and have no inherent order. Label encoding simply assigns a unique integer value to each category. For example, Male could be assigned the value 0 and Female could be assigned the value 1.

* For the "Education Level" variable, I would use one-hot encoding. This is because the categories in this variable are not mutually exclusive. For example, someone could have a Bachelor's degree and also be working towards a Master's degree. One-hot encoding creates a new binary variable for each category. For example, if there are four education levels (High School, Bachelor's, Master's, and PhD), then one-hot encoding would create four new binary variables. The first variable would indicate whether the person has a High School diploma, the second variable would indicate whether the person has a Bachelor's degree, and so on.

* For the "Employment Status" variable, I would use label encoding. This is because the categories in this variable are mutually exclusive and have no inherent order. Label encoding would simply assign a unique integer value to each category. For example, Unemployed could be assigned the value 0, Part-Time could be assigned the value 1, and Full-Time could be assigned the value 2.

### Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/ East/West). Calculate the covariance between each pair of variables.

In [19]:
import pandas as pd

In [20]:
df1=pd.DataFrame({'Temperature':[38,30,20,22],
                 'Humidity':[20,28,38,32],
                  'Weather':['Sunny','Cloudy','Rainy','Cloudy'],
                  'Wind':['North','South','East','West']
                 })

In [21]:
df1

   Temperature  Humidity Weather   Wind
0           38        20   Sunny  North
1           30        28  Cloudy  South
2           20        38   Rainy   East
3           22        32  Cloudy   West

In [22]:
df1.cov()

C:\Users\91957\AppData\Local\Temp\ipykernel_16856\3142585312.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.cov()

             Temperature   Humidity
Temperature    67.666667 -60.333333
Humidity      -60.333333  57.000000

### interpretation
* as temperature increases Humitdity will be decrease
* as temperature decrease Humitdity will be increases